@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --green: #006747;
  --red: #DA291C;
}

body {
  @apply bg-white text-gray-900;
}

.dark body {
  @apply bg-black text-gray-100;
}